.container {
  width: 100%;
}

.products {
  list-style-type: none;
  padding-left: 0;
}

label {
  display: grid;
  grid-template-columns: max-content 10ch;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0.5rem;
}

.retryBtn {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 150px;
  display: block;
  margin: auto;
  font-size: 1rem;
}

.products > li {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (min-width: 700px) {
 .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }

 .products > li {
  margin-right: 1rem;
 }
}