.container {
  width: 100%;
}

.products {
  list-style-type: none;
  padding-left: 0;
}

label {
  display: grid;
  grid-template-columns: max-content 8ch;
  grid-template-rows: 1fr;
}

.retryBtn {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 150px;
  display: block;
  margin: auto;
  font-size: 1rem;
}