.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  position: relative;
}

h3 {
  width: fit-content;
}

.adjustQuantity {
  display: flex;
  justify-content: space-evenly;
}

.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 3ch;
  height: 3ch;
  text-align: center;
  padding: 0.25rem;
  display: grid;
  align-items: center;
}