.navigation {
  display: block;
  background-color: rgb(228, 219, 219);
  min-height: 1rem;
  border-radius: 1rem;
}

.links {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 1fr;
  justify-content: space-between;
  padding: 1rem;
}

.links > a {
  /* border: 1px solid rgb(97, 87, 87); */
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #b47c7c;
  border-radius: 1.5rem;
  text-decoration: none;
}